@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
    }
    body {
        @apply text-[14px] text-black relative;
    }
    * {
        @apply !font-Montserrat;
    }
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 22px; */
}

.swiper-slide {
    opacity: 0 !important;
    display: flex;
}

.swiper-slide.swiper-slide-active {
    opacity: 1 !important;
}

.swiper-button-prev {
    width: 32px;
    height: 32px;
    z-index: 50;
    transition: all;
    transition-duration: 300ms;
    position: absolute;
    left: 8px;
    border-radius: 50%;
    background-color: rgba(26, 26, 26, 0.8);
    top: 50%;
}

.swiper-button-prev:hover {
    opacity: 70%;
}

.swiper-button-prev::after {
    font-size: 14px;
    color: white;
}

.swiper-button-next {
    width: 32px;
    height: 32px;
    z-index: 50;
    transition: all;
    transition-duration: 300ms;
    position: absolute;
    right: 8px;
    border-radius: 50%;
    background-color: rgba(26, 26, 26, 0.8);
    top: 50%;
}

.swiper-button-next:hover {
    opacity: 70%;
}

.swiper-button-next::after {
    font-size: 14px;
    color: white;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    display: none;
}

.reactEasyCrop_CropArea {
    box-shadow: none !important;
}
